* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* body {}
   */

.app {
  display: flex;
}

textarea {
  width: 100%;
  height: 300px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 16px;
}

textarea:focus {
  outline: none;
  border: solid 1px orangered;
}

button {
  background: none;
  border: none;
}

input {
  width: 100%;
  height: 30px;
  padding: 3px 18px;
  font-size: 17px;
  margin: 25px 5px;
}

.sidebar {
  background-color: rgba(214, 186, 171, 0.178);
  height: 100vh;
  width: 250px;
  min-width: 200px;
  position: fixed;
  padding-top: 10px;
}

.name {
  padding-left: 5px;
  margin-left: 10px;
  color: rgb(245, 134, 74);
  font-size: 16px;
}

.pages-sidebar {
  margin-top: 25px;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 3px 25px;
  color: rgb(122, 113, 113);
  cursor: pointer;
  text-align: left;
  font-size: 14px;
}

#button-clicked {
  background: rgba(223, 215, 212, 0.822);
  color: rgba(245, 134, 74, 0.877);
}

.sidebar button:hover {
  background: rgba(223, 215, 212, 0.822);
}

.sidebar input {
  width: 230px;
  margin: 25px 10px;
}

input:focus {
  outline: none;
}

.main {
  margin-left: 16%;
  padding-left: 180px;
  padding-top: 70px;
  font-size: 16px;
  position: relative;
  line-height: 1.4;
}

.journal {
  width: 650px;
}

.journal textarea {
  border: solid 1px rgb(253, 163, 131);
  height: 90px;
  border-radius: 5px;
}

.note {
  width: 700px;
  border: solid 1px orangered;
  border-radius: 8px;
  margin-top: 6px;
  padding: 12px 8px;
  white-space: pre-wrap;
  white-space: pre-wrap;
}

.note b {
  font-size: 15px;
  font-weight: 550;
}

.note-topics {
  color: rgb(29, 161, 242);
  padding: 0px 8px;
}

.page {
  align-items: left;
  justify-content: flex-start;
  width: 70%;
  white-space: pre-wrap;
}

.editpage {
  width: 800px;
  margin-top: 20px;
  padding: 4px 8px;
}

.editpage input {
  width: 100%;
  height: 45px;
  padding: 3px 18px;
  font-size: 16px;
  margin: 8px 0px;
  padding: 8px 5px;
}

.editpage .form-control-title input {
  font-size: 32px;
}

.addpage {
  width: 800px;
  margin-top: 20px;
  padding: 4px 8px;
}

.addpage input {
  width: 100%;
  height: 45px;
  padding: 3px 18px;
  font-size: 16px;
  margin: 25px 0px;
  padding: 8px 5px;
  margin-bottom: 8px;
}

.addpage textarea {
  outline: none;
  width: 100%;
  height: 300px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 16px;
}

.addpage textarea:focus {
  outline: none;
}

.addpage .form-control-title input {
  font-size: 32px;
}

.btn {
  display: inline-block;
  background: rgba(245, 118, 50, 0.836);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.btn:hover {
  background: rgba(209, 90, 26, 0.836);
}

.btn-block {
  /* width: 80%; */
  height: 45px;
  background: rgba(245, 118, 50, 0.836);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px 0px;
  cursor: pointer;
  font-size: 15px;
}

.auth {
  align-items: center;
  text-align: center;
  margin: 100px;
  width: 600px;
}

.auth h1 {
  display: inline-block;
  color: rgb(245, 134, 74);
}

.auth input {
  width: 80%;
  height: 50px;
  margin: 8px;
  padding: 10px 18px;
  font-size: 16px;
  border: solid;
  border-width: 2px;
  border-radius: 2px;
  border-color: #a39c9c;
  background-color: #f4f4f4;
}

.auth .form-control-submit input {
  background-color: rgb(245, 134, 74);
  border: 2px rgb(245, 134, 74);
}

.auth .form-control-submit input:hover {
  background-color: rgb(228, 97, 26);
  border: 2px rgb(219, 109, 49);
}

.auth input:hover {
  width: 80%;
  height: 50px;
  padding: 10px 18px;
  border: solid;
  border-width: 2px;
  border-color: rgb(236, 104, 33);
}

.auth .authstatus {
  color: rgb(230, 160, 122);
  font-size: 16px;
  font-weight: 550;
}

.auth .authstatus:hover {
  color: rgb(228, 111, 49);
  text-decoration: underline;
}
