* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.app {
  display: flex;
}

input {
  width: 100%;
  height: 30px;
  padding: 3px 18px;
  font-size: 17px;
  margin: 25px 5px;
}

textarea {
  width: 100%;
  height: 300px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 16px;
}

button {
  background: none;
  border: none;
}

.btn {
  display: inline-block;
  align-content: center;
  justify-content: center;
  background: rgba(245, 118, 50, 0.836);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.btn:hover {
  background: rgba(235, 93, 17, 0.836);
}

.btn:disabled {
  display: inline-block;
  background: rgba(247, 144, 89, 0.836);
  color: rgb(255, 255, 255);
  opacity: 0.6;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.btn-block {
  height: 45px;
  background: rgba(245, 118, 50, 0.836);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px 0px;
  cursor: pointer;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

/* ----------Sidebar-----------  */
.sidebar {
  background-color: rgba(214, 186, 171, 0.178);
  height: 100vh;
  width: 270px;
  position: fixed;
}

.name {
  padding-left: 5px;
  margin-left: 10px;
  color: rgb(245, 134, 74);
  font-size: 16px;
}

.user {
  padding: 10px 10px 10px 15px;
  color: rgb(245, 134, 74);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user:hover {
  background-color: rgba(223, 215, 212, 0.822);
}

#logout {
  padding: 0px;
  margin: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#logout:hover {
  background: none;
  width: 23px;
  height: 23px;
}

.pages-sidebar {
  margin-top: 25px;
}

.pages-sidebar-pinned {
  margin-top: 20px;
}

.sidebar .category {
  font-size: 12px;
  font-weight: 600;
  color: rgb(167, 164, 164);
  margin-left: 14px;
}

.pages-sidebar ul li {
  list-style: none;
}

.page-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 28px;
  font-size: 15px;
  padding: 0px 30px;
  text-align: left;
  cursor: pointer;
  color: rgb(122, 113, 113);
}

.page-list:hover {
  background: rgba(223, 215, 212, 0.822);
}

.page-menu {
  position: relative;
}

.page-menu-content {
  position: absolute;
  width: 200px;
  color: black;
  padding: 5px 0px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.page-menu-item {
  padding: 5px 30px;
}

.page-menu-item:hover {
  background-color: #e9e8e5;
}

.page-menu-icon {
  margin-right: 8px;
}

.page-list .more-icon {
  visibility: hidden;
}

.page-list:hover .more-icon {
  visibility: visible;
  padding: 1px 1px;
  color: rgb(122, 113, 113);
}

.page-list .more-icon:hover {
  border-radius: 5px;
  background-color: rgba(211, 202, 199, 0.822);
}
.page-menu-content hr {
  margin-top: 4px;
}

.page-activity {
  padding: 5px 0px 5px 30px;
}

.page-activity-date {
  display: block;
}

#button-clicked {
  background: rgba(223, 215, 212, 0.822);
  color: rgba(245, 134, 74, 0.877);
}

.search-highlight {
  background: rgba(223, 215, 212, 0.822);
}

.sidebar input {
  width: 230px;
  margin: 25px 10px;
}

/* --------------End Sidebar-------------- */

/* ----------------Main--------------------- */

.main {
  width: 100%;
  min-height: 100vh;
  margin-left: 270px;
  padding: 70px 0px 250px 180px;
  font-size: 16px;
  line-height: 1.4;
  background: #efefef;
}

.user-profile-dropdown {
  position: fixed;
  top: 45px;
  left: 10px;
  width: 260px;
  padding: 5px 0px;
  border-radius: 3px;
  border: 1px solid #efefee;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
}

.search-box {
  position: fixed;
  top: 10%;
  left: 30%;
  width: 690px;
  height: 200px;
  padding: 8px 15px;
  border-radius: 12px;
  border: 1px solid #efefee;
  box-shadow: rgba(99, 99, 99, 99) 400px 400px 400px 400px;
  background-color: white;
}

:root {
  --shadow: rgba(100, 99, 99, 0.7);
}
.search-box {
  box-shadow: 9px 10px 5px 800px var(--shadow);
  -webkit-box-shadow: 9px 10px 5px 800px var(--shadow);
  -moz-box-shadow: 9px 10px 5px 800px var(--shadow);
}

.search-box {
  align-items: center;
  justify-content: center;
}

.search-box input {
  display: block;
  width: 100%;
  height: 40px;
  margin: auto;
  padding: 4px;
  margin-bottom: 4px;
  border: none;
  outline: none;
  font-size: 24px;
}

.search-results {
  font-size: 16px;
  margin-top: 5px;
  padding: 10px;
}

hr {
  border: 1px solid #ebeae9;
  border-bottom: none;
}

.user-details {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 10px 0px;
  padding-left: 15px;
}
.user-details:hover {
  background-color: #efefee;
}

.user-profile-icon {
  margin: auto 10px auto 0px;
}

.user-name {
  font-size: 18px;
  font-weight: 600;
}

.user-email {
  font-size: 12px;
  font-weight: 600;
  color: #727270;
}

.user-logout {
  font-size: 13px;
  font-weight: 600;
  color: #727270;
  margin-top: 5px;
  padding: 4px 0px;
  padding-left: 15px;
  cursor: pointer;
}
.user-logout:hover {
  background-color: #efefee;
}

/*----------------------Journal--------------------- */

.journal {
  width: 66%;
  /* overflow: hidden; */
  padding: 5px 5px;
}

.journal textarea {
  width: 100%;
  border: solid 3px rgb(243, 133, 93);
  height: 60px;
  padding-top: 15px;
  font-size: 24px;
  border-radius: 5px;
  margin: 3px 0px;
  margin-top: 20px;
}

.journal textarea:focus {
  outline: none;
  border: solid 3px rgb(243, 133, 93);
  height: 90px;
}

.note {
  width: auto;
  border: solid 1px rgb(243, 133, 93);
  border-radius: 8px;
  margin: 6px 8px 0px 8px;
  padding: 12px 8px;
  white-space: pre-wrap;
  background-color: white;
}

.note b {
  font-size: 15px;
  font-weight: 550;
}

.note-topics {
  color: rgb(29, 161, 242);
  padding: 0px 8px;
}

/*---------------------------End Journal ---------------------*/

/*--------------------------- Page --------------------------*/

.page {
  width: 80%;
  height: 100%;
  padding: 40px;
  font-size: 22px;
  align-items: left;
  white-space: pre-wrap;
  border: 1px solid red;
  border-radius: 12px;
  background-color: white;
}

.page-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-heading h1 {
  font-size: 44px;
  font-weight: 700;
}

.page-topics {
  color: rgb(29, 161, 242);
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.page-topic {
  padding: 2px 6px 2px 0px;
  margin: 0px 10px;
}

.page-edit-icon {
  cursor: pointer;
}

.page-content {
  line-height: 36px;
  word-spacing: 4px;
}

.editpage input,
textarea {
  border: none;
  outline: none;
}

.editpage input {
  width: 100%;
  height: 45px;
  padding: 3px 18px;
  font-size: 16px;
  padding: 8px 5px;
  margin-bottom: 8px;
}

.editpage .form-control-title input {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 0px;
}

.editpage .form-control-topics input {
  margin: 5px;
  margin-bottom: 10px;
  word-spacing: 4px;
  letter-spacing: 1px;
  padding: 3px 7px;
  font-size: 18px;
}

.editpage textarea {
  width: 100%;
  height: 400px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 22px;
  letter-spacing: 1px;
}

.editpage button {
  margin-top: 10px;
}

.addpage input,
textarea {
  border: none;
  outline: none;
}

.addpage input {
  width: 100%;
  height: 45px;
  padding: 3px 18px;
  font-size: 16px;
  padding: 8px 5px;
  margin-bottom: 8px;
}

.addpage .form-control-title input {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 0px;
}

.addpage .form-control-topics input {
  margin: 5px;
  margin-bottom: 10px;
  word-spacing: 4px;
  letter-spacing: 1px;
  padding: 3px 7px;
  font-size: 18px;
}

.addpage textarea {
  width: 100%;
  height: 400px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 22px;
  letter-spacing: 1px;
}

.addpage button {
  margin-top: 10px;
}

/* -------------End Page--------- */

/* -----------------End main--------------- */

/* ------------------login-page------------ */
.login-page {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.login-page strong {
  color: rgb(243, 133, 93);
}

nav strong {
  display: inline-block;
  color: rgb(255, 105, 24);
  margin: 10px 120px;
  font-size: 42px;
}

nav {
  overflow: hidden;
  position: fixed;
  background: white;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  color: rgb(243, 133, 93);
  font-size: 36px;
  top: 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 20px 20px 20px;
}

.intro-text {
  width: 300px;
  color: #999996;
  font-weight: 550;
}
.intro-text h1 {
  font-size: 32px;
  color: rgb(241, 110, 62);
  margin-bottom: 10px;
}

.intro img {
  width: 1046px;
  height: 540px;
  margin-left: 50px;
  margin-top: 40px;
  border-radius: 2%;
  box-shadow: 3px 4px 4px 0 #c2c2c2;
}

.login {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: auto;
  text-align: center;
}

.login h1 {
  color: rgb(122, 113, 113);
  font-family: "Helvetica neue", Arial, sans-serif;
  font-weight: 100;
}

.login-main {
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 400px;
  overflow: hidden;
  border-radius: 5px;
  font-size: 15px;
}

.login input {
  width: 90%;
  height: auto;
  margin: 4px;
  padding: 10px 18px;
  font-size: 16px;
  border: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: #a39c9c;
  background-color: #f4f4f4;
}

.login-form,
.register-form {
  text-align: left;
}

.form-control {
  margin-top: 5px;
}

.login input:focus {
  outline: none;
  height: auto;
  border: solid;
  border-width: 2px;
  border-color: rgb(243, 133, 93);
}

.login .form-control-submit input {
  background-color: rgb(245, 134, 74);
  border: 2px rgb(245, 134, 74);
}

.login .form-control-submit input:hover {
  background-color: rgb(228, 97, 26);
  border: 2px rgb(219, 109, 49);
}

.login-register {
  color: rgb(230, 160, 122);
  font-size: 16px;
  font-weight: 550;
}

.login-register:hover {
  color: rgb(228, 111, 49);
  text-decoration: underline;
}

.auth-error {
  color: rgb(255, 0, 0);
  font-size: 16px;
}

/* --------------End login-page------------ */
