* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.sidebar {
  background-color: #f0f0f0;
  height: 100%;
  padding: 20px;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.main {
  margin-left: 200px;
  padding: 10px;
}

input {
  font-size: 16px;
  margin-top: 30px;
  padding: 2px 3px;
  border: solid;
  border-color: black;
  width: 150px;
}

.dailyjournal {
  margin-top: 40px;
}

.files {
  margin-top: 25px;
}

.file {
  background: rgb(220, 229, 229);
  color: #000;
  border: none;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 5px;
}

.dailyjournal > .file {
  background: rgb(66, 230, 230);
}

button {
  background: none;
  border: none;
}
