* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.sidebar {
  background-color: #f0f0f0;
  height: 100%;
  padding: 20px;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.main {
  margin-left: 200px;
  padding: 10px;
}
